:root {
    --main-color: #040404ca;
    --hover-color: #ffffffe1;
    --bg-header: rgba(400, 218, 166, 0.7);
    --bg-footer: #dac9bfeb;
    --bg-main: #f3c3a39c;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    max-width: 1280px;
}

.wrapper{
    width: 85%;
}



/* Навигация */

.menu_nav{
    height: 50px;
    background-color: var(--bg-footer);
    border-bottom: 1px solid var(--main-color);
    border-top: 1px solid var(--main-color);

}

.button_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 100%;
}

.href_nav{
    font-size: 20px;
    text-align: center;
    list-style: none;
}

.href_nav a{
    color: #2e374a;
    text-decoration: none;
    transition:  0.25s cubic-bezier(0, 0, 0.8, 1.0);
}

.href_nav a:hover{
    color: var();
    font-size: 24px;
}

/* Header */

.header_content{
    height: 220px;
    background-color: var(--bg-header);
    color: var(--main-color);
}

.wrapper{
    width: 60%;
    margin: 0 auto;
    border-left: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
}

.container_info{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.rowOne,
.rowTwo{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.main_education,
.contacts,
.main_hardSkills,
.main_project{
    width: 40%;
    text-align: start;
}

.main_education{
    text-align: start;
}

.container_header{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.container_header img{
    height: 200px;
    border: 1px solid var(--main-color);
}

.container_header h2{
    font-size: 38px;
}


.fa-solid .fa-mobile-screen-button{
    width: 15px;
    height: 15px;
}



/* Main */

.main_heading{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 50px;
    font-size: 32px;

    margin-bottom: 50px;

    border-bottom: 1px solid var(--main-color);
    color: var(--main-color);
}

.container_info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    color: var(--main-color);
}

.container_info h2{
    border-bottom: 2px solid var(--main-color);
    margin-bottom: 20px;
}


.main_education{
    font-size: 16px;
    line-height: 170%;
}

.contacts{
    display: flex;
    flex-direction: column;
    line-height: 170%;
}

.tel, .geo, .email{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 16px;
}

.hardSkills_programmingList,
.hardSkills_EnglishLevel{
    font-size: 16px;
    line-height: 170%;
}

.hardSkills_EnglishLevel{
    margin-top: 15px;
}

.main_project{
    list-style: none;
    line-height: 170%;
}

.main_project a{
    text-decoration: none;
    color: var(--main-color);
    transition: 0.3s;
}

.main_project a:hover{
    font-size: 18px;
   
}

.code_container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.code_container h2, h4{
    color: var(--main-color);
    margin: 0 auto;
}

.code_container h2{
    margin-bottom: 20px;
}

.code_container h4{
    font-size: 20px;
    border-bottom: 1px solid var(--main-color);
    margin-bottom: 40px;
}

.code__content{
    font-size: 16px;
    line-height: 180%;
}

pre {
	width: 95%;
    text-align: start;
	padding: 0;
	margin: 0 auto;
	overflow: auto;
	overflow-y: auto;
    height: 300px;
	font-size: 12px;
	line-height: 20px;
	background: #efefef;
	border: 1px solid #777;
	background-color: antiquewhite;
    border: none;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5)
}







/* Footer */

.container_footer{
    height: 150px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 40px;

    align-items: center;
    text-align: center;

    background-color: var(--bg-footer);
    border-bottom: 1px solid var(--main-color);
}

.git_container{
    display: flex;
    gap: 5px;
    align-items: center;
}

.fa-brands.fa-github{
    font-size: 22px;
   color: var(--main-color);
}

.container_footer a, h5{
    text-decoration: none;
    color: var(--main-color);
    font-size: 22px;
    transition: 0.3s;
}

.container_footer a:hover{
    color: var(--hover-color);
    font-size: 24px;
}

.container_footer img{
    border-radius: 100%;
    width: 90px;
    transition: 0.5s;
    border: 1px solid var(--hover-color);
}

.container_footer img:hover{
    width: 120px;
    border: 1px solid var(--main-color);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.img_logo{
    width: 270px;
    height: auto;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 1.8s ease-in-out;
          transition:         transform 1.8s ease-in-out;
}


.img_logo:hover{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media(max-width: 768px){

    .container_footer{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media(max-width: 360px){

    .container_footer{
        padding-left: 10px;
        padding-right: 10px;
    }
}

